@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

$bg: #f3eae7;
$bg: #f8f3f2;
$bg: #fff;
$bgpurple: linear-gradient(280deg, #6339da, #9366ed);
$bgtransparent: #f3eae7bf;
$bgtransparent: rgba(255, 255, 255, 0.698);
$text: #000;

$white: #fff;
$black: #000;
$primary: #0f6fff;
$secondary: #05ee27;
$primary-light: rgba(244, 244, 249, 0.9);
$border: rgb(15 23 42/0.12);
$lightborder: #fff;
$accent: #ff5500;
$accent-dark: #ec4f00;
$accent-light: rgb(255, 221, 0);

$fs-intro: clamp(2.25rem, 4.5vw, 4rem);
$fs-h1: clamp(2rem, 3.5vw, 3rem);
$fs-h2: clamp(2rem, 3vw, 1.625rem);
$fs-h3: clamp(1.25rem, 1.5vw, 1.75rem);
$fs-h4: clamp(0.875rem, 1.25vw, 0.9375rem);
$fs-h5: clamp(1.25rem, 2vw, 1.375rem);
$fs-h6: clamp(1.125rem, 1vw, 1.25rem);
$fs-nav: 14px;
$ff-logo: 'Silkscreen', cursive;

$br: 10px;
$header-height: 70px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $bg;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.8px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

img {
  border-radius: 1px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0.9px;
  font-weight: 600;
}

h1,
h2 {
  line-height: 1.2;
}

h3,
h4 {
  line-height: 1.4;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding-inline-start: 0px;
}

input,
button,
textarea,
select {
  font-size: inherit;
}

img {
  width: 100%;
}

// ////////////////////////////
//  Accessibility
// ///////////////////////////

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: transparent;
  color: black;
  margin-inline: auto;
  font-size: 0.875rem;
  transform: translateY(-120%);
}

.skip-to-content:focus {
  transform: translateY(0);
  transition: transform 250ms ease-in;
}

// ////////////////////////////
//  Utility
// ///////////////////////////

.container {
  width: min(74rem, 100% - 2rem);
  padding-inline: 3rem;
  margin-inline: auto;
}

@media only screen and (max-width: 40rem) {
  .container {
    width: min(68rem, 100% - 2rem);
    padding-inline: 2rem;
    margin-inline: auto;
  }
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  letter-spacing: inherit;
  color: $bg;
  font-weight: 300;
  padding: 1rem 1.25rem;
}

.btn {
  color: rgb(55, 54, 54);
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  background: linear-gradient(140deg, #f7f7f7, #dcdcdc);
  backdrop-filter: blur(8px);
  padding: 0.5rem 1rem;
  border-radius: 0px;
  border-left: solid 4px $accent;
  margin-top: 14px;
}

.divider {
  display: inline-block;
  background-color: #000;
  width: 60px;
  height: 4px;
  margin-top: 20px;
}

main {
  img {
    width: 100%;
  }
}

@mixin pilv {
  padding-bottom: 120px;
}

// ////////////////////////////
//  Typography
// ///////////////////////////

h1 {
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
  margin-bottom: 30px;
}

.subtitle {
  font-size: $fs-h4;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: 3px;
  margin-top: 22px;
}

@mixin max-sm {
  max-width: 24ch;
}

@mixin max-med {
  max-width: 48ch;
}

@mixin caption {
  font-size: 11px;
  font-weight: 400;
}

// ////////////////////////////
//  Header
// ///////////////////////////

header {
  height: $header-height;
  margin-bottom: -$header-height;

  .container {
    display: flex;
    height: $header-height;
    align-items: center;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 10px;
    font-size: $fs-nav;
    color: white;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 50rem) {
  header {
    nav ul {
      display: none;
    }
  }
}

// ////////////////////////////
//  Logo
// ///////////////////////////

.logo {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 34px;
  height: 34px;
  margin-right: 12px;
}

.logo .company-name {
  font-size: 30px;
  font-family: $ff-logo;
  font-weight: 400;
  letter-spacing: 3px;
  padding-bottom: 4px;
}

header .logo .company-name {
  color: white;
}

footer .logo svg path {
  fill: black !important;
}

// ////////////////////////////
//  Intro
// ///////////////////////////

#intro {
  background: $bgpurple;
  color: white;
  padding-top: 10px;
  padding-bottom: 80px;

  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
    min-height: 90vh;
    place-items: center;
    padding-top: $header-height;
  }

  .intro-col-one {
    order: 1;
  }

  .intro-col-two img {
    max-height: 460px;
    border-radius: $br;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.037);
  }

  p {
    @include max-med();
  }

  h1 {
    @include max-sm();
  }

  form {
    display: grid;
    align-items: flex-end;
    gap: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  input[type='text'] {
    font-size: 14px;
    line-height: 20px;
    border: none;
    padding: 10px 20px;
    width: 100%;
    background: transparent;
    background-color: #fdfdfd2d;
    border-radius: 4px;
  }

  input::placeholder {
    font-size: 11px;
    color: rgb(214, 217, 222);
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  button {
    background: linear-gradient(
      140deg,
      hwb(20deg 0% 0% / 94%),
      hsla(20, 100%, 50%, 0.807)
    );
    padding: 12px 12px 9px;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  svg {
    color: white;
    width: 16px;
    height: 16px;
  }
}

.view-all {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: white;

  span {
    color: rgba(255, 255, 255, 0.705);
    font-size: 13px;
  }

  svg {
    fill: white;
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 50rem) {
  #intro {
    padding-top: 0px;
    padding-bottom: 0px;

    .container {
      grid-template-columns: minmax(0, 1.25fr) minmax(0, 1fr);
    }
    form {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 0.25fr;
    }
    .intro-col-one {
      order: 0;
    }
  }
}

// ////////////////////////////
//  Lights
// ///////////////////////////

.lights-container {
  width: 100%;
  overflow: hidden;
  background: $bg;

  .box {
    position: relative;
    width: 24px;
    height: 24px;
    float: left;
    border: solid $bg 3px;
    box-sizing: border-box;
    overflow: hidden;
    background: $bg;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      background: transparent;
      transition: 2s ease-in-out;
      border-radius: 50%;
    }

    &:hover::before {
      transition: 0s ease-in-out;
      background: $accent;
      backdrop-filter: blur(8px);
      transition: 0s ease-in-out;
    }
  }
}

@media only screen and (max-width: 40rem) {
  .lights-container .box:nth-child(odd) {
    display: none;
  }
}

// ////////////////////////////
//  Team
// ///////////////////////////

#team {
  .container {
    @include pilv();
  }

  .inner-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 3rem;
  }

  .inner-container-col-two {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    place-items: center;
    gap: 0rem;
    padding: 1rem;
    min-height: 380px;
  }

  .team-member {
    position: relative;
    text-align: center;

    img {
      display: inline-block;
      box-shadow: 0 0 1px #00000025;
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
      max-width: 80%;
      z-index: 99;
    }

    p {
      @include caption();
      display: inline-block;
      position: relative;
      bottom: 2rem;
      opacity: 1;
      z-index: 199;
      background-color: $bg;
      border-radius: $br;
      padding: 6px 12px;
      box-shadow: 0 0 10px #0000000a;
    }
  }
}

@media only screen and (min-width: 30rem) {
  #team {
    .inner-container-col-two {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }
}

@media only screen and (min-width: 40rem) {
  #team {
    .inner-container {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
      gap: 1rem;
    }

    .inner-container-col-two {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 1.5fr);
      grid-auto-rows: 1fr;
      gap: 3rem;
      padding: 0;
      // background-image: linear-gradient(
      //     hsla(15, 33%, 93%, 0.49),
      //     hsla(15, 33%, 93%, 0.49)
      //   ),
      //   url('../assets/maporangecrop.png');
      background-image: linear-gradient(hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.7)),
        url('../assets/map.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .inner-col-one,
    .inner-col-two,
    .inner-col-three {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    .inner-col-one {
      justify-content: space-around;

      .team-member:nth-of-type(2) {
        margin-left: 110%;
        margin-right: -110%;
      }

      .team-member:nth-of-type(3) {
        margin-left: 60%;
        margin-right: -60%;
        margin-top: -2rem;
        margin-bottom: 2rem;
      }
    }

    .inner-col-two {
      justify-content: space-evenly;
    }

    .inner-col-three {
      justify-content: flex-end;
      gap: 30%;

      .team-member:first-of-type {
        margin-left: -50%;
        margin-right: 50%;
      }
    }

    .team-member {
      img {
        max-width: 50px;
        transition: height 0.3s ease;
      }

      p {
        position: absolute;
        bottom: -2rem;
        opacity: 0;
      }

      img:hover + p {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 54rem) {
  #team {
    .team-member {
      img {
        max-width: 70px;
      }
    }
  }
}

// ////////////////////////////
//  Five
// ///////////////////////////

#five {
  .container {
    @include pilv();
  }

  .inner-container {
    display: grid;
    gap: 2rem;
    margin-bottom: 70px;
  }

  .inner-container-x1 {
    display: grid;
    gap: 2rem;

    img {
      border-radius: $br;
    }
  }
}

@media only screen and (min-width: 50rem) {
  #five {
    .inner-container {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .inner-container-x1 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

// ////////////////////////////
//  Footer
// ///////////////////////////

footer {
  background-size: cover;
  background-position: bottom center;
  border-top: solid 1px #e6e6e6;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.99),
      rgba(255, 255, 255, 0.905)
    ),
    url('../assets/building.png');
  background-size: cover;
  background-position: bottom center;
}

.footer-main {
  display: grid;
  grid-gap: 3rem;
  padding-top: 100px;
  padding-bottom: 80px;

  h2 {
    display: flex;
    align-items: center;
    font-size: $fs-h3;
    line-height: 0.9;
    margin-bottom: 26px;
  }

  div:first-of-type p {
    font-size: 12px;
    max-width: 54ch;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    list-style: none;
    padding-left: 2px;
    font-size: 14px;
  }

  li {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  i {
    font-size: 18px;
    color: $accent;
  }
}

.company-resources {
  text-align: right;
  margin-top: 5px;
}

@media only screen and (max-width: 40rem) {
  .footer-main {
    grid-gap: 5rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  .company-resources {
    text-align: left;
  }

  .company-resources > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.footer-socials {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.25rem 0.25rem;
  margin-bottom: 36px;
  border-radius: 3px;
  cursor: pointer;
}

svg.meta {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 54rem) {
  .footer-main {
    grid-template-columns: minmax(0, 1.2fr) minmax(0, 3fr);
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  padding-top: 30px;
  padding-bottom: 30px;

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
  }
}
